systems/nodered/flows/MQTT-Modbus_Grundlagen_Daniel.json
[
    {
        "id": "534013f8f8f43cdf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "read_node",
        "type": "modbus-read",
        "z": "534013f8f8f43cdf",
        "name": "Status Alle Relais (Lesen)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "8",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "modbus_client_waveshare",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 230,
        "wires": [
            [
                "debug_read",
                "ui_template_relais"
            ],
            []
        ]
    },
    {
        "id": "debug_read",
        "type": "debug",
        "z": "534013f8f8f43cdf",
        "name": "Status Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 230,
        "wires": []
    },
    {
        "id": "read_di_node",
        "type": "modbus-read",
        "z": "534013f8f8f43cdf",
        "name": "Status Digitale Eingänge",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "8",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "modbus_client_waveshare",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 150,
        "wires": [
            [
                "debug_di",
                "ui_template_di"
            ],
            []
        ]
    },
    {
        "id": "debug_di",
        "type": "debug",
        "z": "534013f8f8f43cdf",
        "name": "DI Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 150,
        "wires": []
    },
    {
        "id": "mqtt_in_licht_heizraum",
        "type": "mqtt in",
        "z": "534013f8f8f43cdf",
        "name": "Abo: LichtHeizraum",
        "topic": "LichtHeizraum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "func_convert_mqtt"
            ]
        ]
    },
    {
        "id": "func_convert_mqtt",
        "type": "function",
        "z": "534013f8f8f43cdf",
        "name": "Typenkonvertierung",
        "func": "// Prüft, ob die Nachricht true, \"true\", 1 oder \"1\" ist\nif (msg.payload === \"true\" || msg.payload === true || msg.payload === 1 || msg.payload === \"1\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 460,
        "wires": [
            [
                "write_relais_1"
            ]
        ]
    },
    {
        "id": "write_relais_1",
        "type": "modbus-write",
        "z": "534013f8f8f43cdf",
        "name": "Relais 1 schalten",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "modbus_client_waveshare",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 610,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ui_schalter_licht",
        "type": "ui_switch",
        "z": "534013f8f8f43cdf",
        "name": "Dashboard Schalter",
        "label": "Licht Heizraum",
        "tooltip": "",
        "group": "cd829517515dbd33",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LichtHeizraum",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "mqtt_out_senden"
            ]
        ]
    },
    {
        "id": "mqtt_out_senden",
        "type": "mqtt out",
        "z": "534013f8f8f43cdf",
        "name": "Senden an Topic",
        "topic": "LichtHeizraum",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_mosquitto",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "ui_template_relais",
        "type": "ui_template",
        "z": "534013f8f8f43cdf",
        "group": "cd829517515dbd33",
        "name": "Anzeige Relais 1-8",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div style=\"display: flex; justify-content: space-around; align-items: center; padding-top: 5px;\">\n    <div ng-repeat=\"state in msg.payload track by $index\" style=\"text-align: center;\">\n        <div style=\"font-size: 0.9em; margin-bottom: 5px; color: var(--nr-dashboard-widgetTextColor);\">R{{$index + 1}}</div>\n        <div style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{state ? '#4caf50' : '#f44336'}}; box-shadow: 0 0 8px {{state ? '#4caf50' : '#f44336'}}; margin: 0 auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_template_di",
        "type": "ui_template",
        "z": "534013f8f8f43cdf",
        "group": "cd829517515dbd33",
        "name": "Anzeige Eingänge (DI) 1-8",
        "order": 2,
        "width": "6",
        "height": "2",
        "format": "<div style=\"display: flex; justify-content: space-around; align-items: center; padding-top: 5px;\">\n    <div ng-repeat=\"state in msg.payload track by $index\" style=\"text-align: center;\">\n        <div style=\"font-size: 0.9em; margin-bottom: 5px; color: var(--nr-dashboard-widgetTextColor);\">DI{{$index + 1}}</div>\n        <div style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{state ? '#4caf50' : '#f44336'}}; box-shadow: 0 0 8px {{state ? '#4caf50' : '#f44336'}}; margin: 0 auto;\"></div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2e59371c06dd1438",
        "type": "mqtt in",
        "z": "534013f8f8f43cdf",
        "name": "Alle Topics",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_mosquitto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 690,
        "wires": [
            [
                "86048fa512d4a6d5"
            ]
        ]
    },
    {
        "id": "86048fa512d4a6d5",
        "type": "debug",
        "z": "534013f8f8f43cdf",
        "name": "MQTT Überwachung",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 690,
        "wires": []
    },
    {
        "id": "28bb9e74a7dd5e18",
        "type": "comment",
        "z": "534013f8f8f43cdf",
        "name": "Mit Topic \"#\" werden alle Topics vom Broker subscribed",
        "info": "",
        "x": 700,
        "y": 690,
        "wires": []
    },
    {
        "id": "0479602aa8cfe915",
        "type": "comment",
        "z": "534013f8f8f43cdf",
        "name": "Anzeigen fürs Dashboard \"MQTT Heizung\"",
        "info": "",
        "x": 850,
        "y": 210,
        "wires": []
    },
    {
        "id": "30fb7531898b0a40",
        "type": "comment",
        "z": "534013f8f8f43cdf",
        "name": "Einfache MQTT - Modbus Steuerung via Dashboard",
        "info": "",
        "x": 810,
        "y": 510,
        "wires": []
    },
    {
        "id": "modbus_client_waveshare",
        "type": "modbus-client",
        "name": "Waveshare Relais",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.197",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "mqtt_broker_mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto Docker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd829517515dbd33",
        "type": "ui_group",
        "name": "Standard",
        "tab": "3a5b1fce7075535e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a5b1fce7075535e",
        "type": "ui_tab",
        "name": "MQTT Heizung",
        "icon": "fa-rss",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "981aaca962d6f058",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-dashboard": "3.6.6"
        }
    }
]