systems/nodered/flows/Torben_Flow_Daniel.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "578c62c41598b50b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Nachricht",
        "payload": "Hallo Welt",
        "payloadType": "str",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "566b7103b41c658d"
            ]
        ]
    },
    {
        "id": "566b7103b41c658d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "6a229a1c65d56c55",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Raumfühler Küche",
        "payload": "{\"zustand\":\"ok\",\"batterie\":80,\"taste1\":true,\"taste2\":false,\"temperatur\":{\"wert\":19,\"einheit\":\"°C\"},\"co2\":{\"wert\":1000,\"einheit\":\"ppm\"}}",
        "payloadType": "json",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "61ce573ec82336de"
            ]
        ]
    },
    {
        "id": "f19ea949425fed29",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "61ce573ec82336de",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatur.wert",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "8824a425b3a296c0"
            ]
        ]
    },
    {
        "id": "8824a425b3a296c0",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "f19ea949425fed29"
            ]
        ]
    },
    {
        "id": "1c77aaa286b139bf",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Schalter",
        "tooltip": "Das ist ein Lutscher namens Bruno",
        "group": "f84733aeb37c764a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Schalter",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 590,
        "wires": [
            [
                "cd1d556a70f70de0",
                "7688521e0f036983"
            ]
        ]
    },
    {
        "id": "cd1d556a70f70de0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 590,
        "wires": []
    },
    {
        "id": "7688521e0f036983",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Information",
        "tooltip": "",
        "group": "f84733aeb37c764a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 670,
        "wires": [
            []
        ]
    },
    {
        "id": "3afecc8a2d836291",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Küche",
        "tooltip": "",
        "group": "2474b6e626a031e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 830,
        "wires": [
            [
                "8c32db0c00f62ca4"
            ]
        ]
    },
    {
        "id": "296fd597438b55b1",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Sitzplatz",
        "tooltip": "",
        "group": "2474b6e626a031e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 620,
        "y": 950,
        "wires": [
            [
                "ebae96b7b583cdb0"
            ]
        ]
    },
    {
        "id": "704979cc67963369",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Wohnzimmer",
        "tooltip": "",
        "group": "2474b6e626a031e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 870,
        "wires": [
            [
                "e8d151cb3326706c"
            ]
        ]
    },
    {
        "id": "c231955694943130",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Schlafzimmer",
        "tooltip": "",
        "group": "2474b6e626a031e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 640,
        "y": 910,
        "wires": [
            [
                "9d268ebe6aa64617"
            ]
        ]
    },
    {
        "id": "3d32502957901dff",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Höhe",
        "tooltip": "",
        "group": "6ef876aa44faaf99",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 1050,
        "wires": [
            [
                "186b41b8ddab1759"
            ]
        ]
    },
    {
        "id": "b699e79ecca35e32",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6ef876aa44faaf99",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Auf",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 1090,
        "wires": [
            [
                "5ea850e41f580985"
            ]
        ]
    },
    {
        "id": "9f625de0729c1907",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6ef876aa44faaf99",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ab",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 1130,
        "wires": [
            [
                "5ea850e41f580985"
            ]
        ]
    },
    {
        "id": "a6ecd60549dc6411",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Dimmwert",
        "tooltip": "",
        "group": "1a75f2576e287ad4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 1350,
        "wires": [
            [
                "c588159bcd059302"
            ]
        ]
    },
    {
        "id": "649f2320307ecd86",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1a75f2576e287ad4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "An",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 1390,
        "wires": [
            [
                "6dadaa167bbfc26a"
            ]
        ]
    },
    {
        "id": "bca579f062354047",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "1a75f2576e287ad4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 1430,
        "wires": [
            [
                "6dadaa167bbfc26a"
            ]
        ]
    },
    {
        "id": "e4713c06235d9b26",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "8e6d06faca7a6660",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aussentemperatur",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 1730,
        "wires": []
    },
    {
        "id": "9160a2894f47d04e",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Solltemperatur",
        "tooltip": "",
        "group": "8e6d06faca7a6660",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 490,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "454a9723c86afedd",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "8e6d06faca7a6660",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Raumtemperaur",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 1830,
        "wires": []
    },
    {
        "id": "8c32db0c00f62ca4",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/20",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-01   E/A   [Küche E04]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 900,
        "y": 830,
        "wires": [
            []
        ]
    },
    {
        "id": "e8d151cb3326706c",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/15",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "LD_E03-01   E/A   [Wohnzimmer E03]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 930,
        "y": 870,
        "wires": [
            []
        ]
    },
    {
        "id": "9d268ebe6aa64617",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "2/0/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E06-01   E/A   [Schlafzimmer E06]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 920,
        "y": 910,
        "wires": [
            []
        ]
    },
    {
        "id": "ebae96b7b583cdb0",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/30",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E05-01   E/A   [Sitzplatz E05]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 910,
        "y": 950,
        "wires": [
            []
        ]
    },
    {
        "id": "c48892115c5ff7b9",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/23",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-01   RM (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 260,
        "y": 830,
        "wires": [
            [
                "3afecc8a2d836291"
            ]
        ]
    },
    {
        "id": "07a4241e85d7890c",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/18",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "LD_E03-01   RM",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 390,
        "y": 870,
        "wires": [
            [
                "704979cc67963369"
            ]
        ]
    },
    {
        "id": "72a1d7d16e581507",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/33",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E05-01   RM (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 260,
        "y": 950,
        "wires": [
            [
                "296fd597438b55b1"
            ]
        ]
    },
    {
        "id": "7cd00dd74b5accf0",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "2/0/13",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E06-01   RM E/A (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 250,
        "y": 910,
        "wires": [
            [
                "c231955694943130"
            ]
        ]
    },
    {
        "id": "186b41b8ddab1759",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/1/12",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   POSITION HÖHE (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1050,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "5ea850e41f580985",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/1/10",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.008",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   AUF/AB   [Wohnzimmer E03]",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 950,
        "y": 1110,
        "wires": [
            []
        ]
    },
    {
        "id": "9190a8055e8c8211",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/1/11",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.007",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   STOPP",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 880,
        "y": 1190,
        "wires": [
            []
        ]
    },
    {
        "id": "43662d667063fb23",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/1/16",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "5.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01  STATUS POSITION HÖHE",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 310,
        "y": 1050,
        "wires": [
            [
                "3d32502957901dff"
            ]
        ]
    },
    {
        "id": "a85a8c9734fa5f66",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6ef876aa44faaf99",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lamellen auf / Stopp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 1170,
        "wires": [
            [
                "9190a8055e8c8211"
            ]
        ]
    },
    {
        "id": "3731fcf04ca209b5",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6ef876aa44faaf99",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lamellen ab / Stopp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "9190a8055e8c8211"
            ]
        ]
    },
    {
        "id": "60d7a2c5856aaf77",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Winkel",
        "tooltip": "",
        "group": "6ef876aa44faaf99",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 760,
        "y": 1240,
        "wires": [
            [
                "228fb823635b7286"
            ]
        ]
    },
    {
        "id": "228fb823635b7286",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/1/13",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "5.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   POSITION LAMELLEN",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1050,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "10e045e27a19eae2",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/1/17",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "J_E03-01   STATUS POSITION LAMELLEN (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "60d7a2c5856aaf77"
            ]
        ]
    },
    {
        "id": "c588159bcd059302",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/26",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-02   DIM (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1080,
        "y": 1350,
        "wires": [
            []
        ]
    },
    {
        "id": "1f58b98ae7facbbf",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/29",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-02   RM WERT (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 260,
        "y": 1350,
        "wires": [
            [
                "a6ecd60549dc6411"
            ]
        ]
    },
    {
        "id": "6dadaa167bbfc26a",
        "type": "knxUltimate",
        "z": "f6f2187d.f17ca8",
        "server": "25ab45f03da31cfa",
        "topic": "1/0/25",
        "setTopicType": "str",
        "outputtopic": "",
        "dpt": "1.001",
        "initialread": 0,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "name": "L_E04-02   E/A   [Küche E04] (DPT NOT SET IN ETS - FAKE DPT USED)",
        "outputtype": "write",
        "outputRBE": "true",
        "inputRBE": "false",
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "passthrough": "no",
        "sendMsgToKNXCode": "",
        "receiveMsgFromKNXCode": "",
        "listenallga": false,
        "gaSecure": "false",
        "buttonEnabled": true,
        "buttonMode": "toggle",
        "buttonStaticValue": "",
        "buttonToggleInitial": "false",
        "periodicSend": false,
        "periodicSendInterval": 60,
        "x": 1100,
        "y": 1410,
        "wires": [
            []
        ]
    },
    {
        "id": "f84733aeb37c764a",
        "type": "ui_group",
        "name": "Standard",
        "tab": "d7e90af7f419ab0c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2474b6e626a031e7",
        "type": "ui_group",
        "name": "Beleuchtung",
        "tab": "d7e90af7f419ab0c",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ef876aa44faaf99",
        "type": "ui_group",
        "name": "Jalousie Wohnzimmer",
        "tab": "d7e90af7f419ab0c",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a75f2576e287ad4",
        "type": "ui_group",
        "name": "Spots Küche",
        "tab": "d7e90af7f419ab0c",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e6d06faca7a6660",
        "type": "ui_group",
        "name": "Heizung",
        "tab": "6302421158a56283",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "25ab45f03da31cfa",
        "type": "knxUltimate-config",
        "host": "192.168.178.199",
        "port": 3671,
        "physAddr": "1.3.250",
        "hostProtocol": "TunnelUDP",
        "suppressACKRequest": false,
        "csv": "\"Group name\"\t\"Address\"\t\"Central\"\t\"Unfiltered\"\t\"Description\"\t\"DatapointType\"\t\"Security\"\n\"1.UG\"\t\"0/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"0/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E01-01   E/A   (Technikraum E01)\"\t\"0/0/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E01-01   DIM\"\t\"0/0/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"L_E01-01   WERT\"\t\"0/0/12\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"L_E01-01   RM\"\t\"0/0/13\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E01-01   RM WERT\"\t\"0/0/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E02-01   E/A   (Basteln E02)\"\t\"0/0/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E02-01   DIM\"\t\"0/0/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"L_E02-01   WERT\"\t\"0/0/17\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"L_E02-01   RM\"\t\"0/0/18\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E02-01   RM WERT\"\t\"0/0/19\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Jalousien\"\t\"0/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E01-01   AUF/AB   (Technikraum E01)\"\t\"0/1/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"R_E01-01   STOPP\"\t\"0/1/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"R_E01-01   POSITION HÖHE\"\t\"0/1/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E01-01   POSITION LAMELLEN\"\t\"0/1/13\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   BESCHATTUNG\"\t\"0/1/14\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   SPERREN\"\t\"0/1/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   STATUS POSITION HÖHE\"\t\"0/1/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E01-01   STATUS POSITION LAMELLEN\"\t\"0/1/17\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E02-01   AUF/AB   (Basteln E02)\"\t\"0/1/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"R_E02-01   STOPP\"\t\"0/1/21\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"R_E02-01   POSITION HÖHE\"\t\"0/1/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"R_E02-01   POSITION LAMELLEN\"\t\"0/1/23\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   BESCHATTUNG\"\t\"0/1/24\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   SPERREN\"\t\"0/1/25\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   STATUS POSITION HÖHE\"\t\"0/1/26\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"R_E02-01   STATUS POSITION LAMELLEN\"\t\"0/1/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"EG \"\t\"1/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"1/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   E/A   (Wohnzimmer E03)\"\t\"1/0/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E03-01   DIM\"\t\"1/0/11\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   WERT\"\t\"1/0/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   RM\"\t\"1/0/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E03-01   RM WERT\"\t\"1/0/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"LD_E03-01   E/A   (Wohnzimmer E03)\"\t\"1/0/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E03-01   DIM\"\t\"1/0/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"LD_E03-01   WERT\"\t\"1/0/17\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"LD_E03-01   RM\"\t\"1/0/18\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E3-01   RM WERT\"\t\"1/0/19\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"L_E04-01   E/A   (Küche E04)\"\t\"1/0/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E04-01   DIM\"\t\"1/0/21\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-01   WERT\"\t\"1/0/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-01   RM\"\t\"1/0/23\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-01   RM WERT\"\t\"1/0/24\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   E/A   (Küche E04)\"\t\"1/0/25\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   DIM\"\t\"1/0/26\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   WERT\"\t\"1/0/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   RM\"\t\"1/0/28\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E04-02   RM WERT\"\t\"1/0/29\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   E/A   (Sitzplatz E05)\"\t\"1/0/30\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E05-01   DIM\"\t\"1/0/31\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   WERT\"\t\"1/0/32\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   RM\"\t\"1/0/33\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E05-01   RM WERT\"\t\"1/0/34\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Jalousie\"\t\"1/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E03-01   AUF/AB   (Wohnzimmer E03)\"\t\"1/1/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E03-01   STOPP\"\t\"1/1/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"J_E03-01   POSITION HÖHE\"\t\"1/1/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E03-01   POSITION LAMELLEN\"\t\"1/1/13\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01   BESCHATTUNG\"\t\"1/1/14\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01   SPERREN\"\t\"1/1/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01  STATUS POSITION HÖHE\"\t\"1/1/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E03-01   STATUS POSITION LAMELLEN\"\t\"1/1/17\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E04-01   AUF/AB   (Küche E04)\"\t\"1/1/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E04-01   STOPP\"\t\"1/1/21\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-7\"\t\"Auto\"\n\"J_E04-01   POSITION HÖHE\"\t\"1/1/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E04-01   POSITION LAMELLEN\"\t\"1/1/23\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   BESCHATTUNG\"\t\"1/1/24\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   SPERREN\"\t\"1/1/25\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   STATUS POSITION HÖHE\"\t\"1/1/26\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"J_E04-01   STATUS POSITION LAMELLEN\"\t\"1/1/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"1.OG\"\t\"2/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"2/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   E/A   (Schlafzimmer E06)\"\t\"2/0/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"L_E06-01   DIM\"\t\"2/0/11\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   WERT\"\t\"2/0/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   RM E/A\"\t\"2/0/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E06-01   RM WERT\"\t\"2/0/14\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"LD_E07-01   E/A   (Schlafzimmer E07)\"\t\"2/0/15\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E07-01   DIM\"\t\"2/0/16\"\t\"\"\t\"\"\t\"\"\t\"DPST-3-7\"\t\"Auto\"\n\"LD_E07-01   WERT\"\t\"2/0/17\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"LD_E07-01   RM\"\t\"2/0/18\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-1\"\t\"Auto\"\n\"LD_E07-01   RM WERT\"\t\"2/0/19\"\t\"\"\t\"\"\t\"\"\t\"DPST-5-1\"\t\"Auto\"\n\"Jalousie\"\t\"2/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   AUF/AB   (Schlafzimmer 2)\"\t\"2/1/10\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E06-01   STOPP\"\t\"2/1/11\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-17\"\t\"Auto\"\n\"J_E06-01   POSITION HÖHE\"\t\"2/1/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   POSITION LAMELLEN\"\t\"2/1/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   BESCHATTUNG\"\t\"2/1/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   SPERREN\"\t\"2/1/15\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   STATUS POSITION HÖHE\"\t\"2/1/16\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E06-01   STATUS POSITION LAMELLEN \"\t\"2/1/17\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   AUF/AB   (Schlafzimmer 1)\"\t\"2/1/20\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-8\"\t\"Auto\"\n\"J_E07-01   STOPP\"\t\"2/1/21\"\t\"\"\t\"\"\t\"\"\t\"DPST-1-17\"\t\"Auto\"\n\"J_E07-01   POSITION HÖHE\"\t\"2/1/22\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   POSITION LAMELLEN\"\t\"2/1/23\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   BESCHATTUNG\"\t\"2/1/24\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   SPERREN\"\t\"2/1/25\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   STATUS POSITION HÖHE\"\t\"2/1/26\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"J_E07-01   STATUS POSITION LAMELLEN\"\t\"2/1/27\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"2.OG\"\t\"3/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Licht\"\t\"3/0/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   E/A   (Estrich E08)\"\t\"3/0/10\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   DIM\"\t\"3/0/11\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   WERT\"\t\"3/0/12\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   RM\"\t\"3/0/13\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"L_E08-01   RM WERT\"\t\"3/0/14\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Jalousie\"\t\"3/1/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n\"Dach\"\t\"4/-/-\"\t\"\"\t\"\"\t\"\"\t\"\"\t\"Auto\"\n",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "stopETSImportIfNoDatapoint": "fake",
        "loglevel": "error",
        "name": "KNX Gateway",
        "delaybetweentelegrams": 25,
        "ignoreTelegramsWithRepeatedFlag": false,
        "keyringFileXML": "",
        "secureCredentialsMode": "keyring",
        "tunnelIASelection": "Auto",
        "tunnelIA": "",
        "tunnelInterfaceIndividualAddress": "",
        "tunnelUserPassword": "",
        "tunnelUserId": "",
        "autoReconnect": "yes",
        "enableFlowBubbles": false,
        "statusUpdateThrottle": "0",
        "statusDateTimeFormat": "legacy",
        "statusDateTimeCustom": "DD MMM HH:mm",
        "statusDateTimeLocale": "",
        "serialPortPath": "/dev/ttyAMA0",
        "serialBaudRate": 19200,
        "serialDataBits": 8,
        "serialStopBits": 1,
        "serialParity": "even",
        "serialRtscts": false,
        "serialDtr": true,
        "serialTimeout": 1200,
        "isKBERRY": "true"
    },
    {
        "id": "d7e90af7f419ab0c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6302421158a56283",
        "type": "ui_tab",
        "name": "Heizung",
        "icon": "fa-fire",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "10fb749a80a9ab19",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-knx-ultimate": "4.3.18"
        }
    }
]